.gallery-element{
  cursor: pointer;
  figure{
    height: 300px !important;
  }
}

.gallery-item-header{
  color: $white-primary;
}

.image-description{
  margin-bottom: 30px;
}

.contrive-portfolio-item figure img {
    height: 100% !important;
}
