.contact-icon{
    &:hover{
        background: $white-primary !important;
        i{
            color: $black-primary !important;
        }
        &:before{
            background: $white-primary !important;
        }
    }
}

.contact-link{
    color: $white-primary !important;
    &:hover{
        color: $red-primary !important;
    }
}

.logo-footer-container{
    text-align: center;
    margin-bottom: 40px;
}